In [12]:
import pandas as pd
import matplotlib as plt
import numpy as np
from scipy import stats

In [30]:
dfECMWF_A = pd.read_csv('ECMWF_A.csv')

In [31]:
dfECMWF_A

,Unnamed: 0,Hours since 1900-01-01,Rainfall Flux (kg m-2 s-1),Longitude,Latitude,rainflux_mm_hour,date
0,3,701256,0.000003,36.5 - 37.0 E,-0.5 - 0.0 N,0.009609,1980-01-01 00:00:00
1,19,701257,0.000002,36.5 - 37.0 E,-0.5 - 0.0 N,0.008836,1980-01-01 01:00:00
2,35,701258,0.000000,36.5 - 37.0 E,-0.5 - 0.0 N,0.000000,1980-01-01 02:00:00
3,51,701259,0.000000,36.5 - 37.0 E,-0.5 - 0.0 N,0.000000,1980-01-01 03:00:00
4,67,701260,0.000000,36.5 - 37.0 E,-0.5 - 0.0 N,0.000000,1980-01-01 04:00:00
...,...,...,...,...,...,...,...
52603,11827,753859,0.000000,36.5 - 37.0 E,-0.5 - 0.0 N,0.000000,1985-12-31 19:00:00
52604,11843,753860,0.000000,36.5 - 37.0 E,-0.5 - 0.0 N,0.000000,1985-12-31 20:00:00
52605,11859,753861,0.000000,36.5 - 37.0 E,-0.5 - 0.0 N,0.000000,1985-12-31 21:00:00
52606,11875,753862,0.000000,36.5 - 37.0 E,-0.5 - 0.0 N,0.000000,1985-12-31 22:00:00
52607,11891,753863,0.000000,36.5 - 37.0 E,-0.5 - 0.0 N,0.000000,1985-12-31 23:00:00

In [32]:
dfECMWF_A.drop(columns=['Hours since 1900-01-01', 'Rainfall Flux (kg m-2 s-1)', 'Longitude', 'Latitude', 'Unnamed: 0'])

       rainflux_mm_hour                 date
0              0.009609  1980-01-01 00:00:00
1              0.008836  1980-01-01 01:00:00
2              0.000000  1980-01-01 02:00:00
3              0.000000  1980-01-01 03:00:00
4              0.000000  1980-01-01 04:00:00
...                 ...                  ...
52603          0.000000  1985-12-31 19:00:00
52604          0.000000  1985-12-31 20:00:00
52605          0.000000  1985-12-31 21:00:00
52606          0.000000  1985-12-31 22:00:00
52607          0.000000  1985-12-31 23:00:00

[52608 rows x 2 columns]

In [23]:
dfTWC_A = pd.read_csv('TWC_Block_A.csv')

In [24]:
dfTWC_A

           observationTimeUtcIso  precipitationRate
0      2015-02-01 00:00:00+00:00            0.00000
1      2015-02-01 01:00:00+00:00            0.00000
2      2015-02-01 02:00:00+00:00            0.00000
3      2015-02-01 03:00:00+00:00            0.00000
4      2015-02-01 04:00:00+00:00            0.00000
...                          ...                ...
44720  2020-01-31 20:00:00+00:00            0.35950
44721  2020-01-31 21:00:00+00:00            0.18025
44722  2020-01-31 22:00:00+00:00            0.16400
44723  2020-01-31 23:00:00+00:00            0.19175
44724  2020-02-01 00:00:00+00:00            0.31400

[44725 rows x 2 columns]

In [ ]:
#filter for wet season

In [40]:

a = dfECMWF_A['rainflux_mm_hour']
b= dfTWC_A['precipitationRate']
#Sample Size
N = 52000
## Calculate the Standard Deviation
#Calculate the variance to get the standard deviation

#For unbiased max likelihood estimate we have to divide the var by N-1, and therefore the parameter ddof = 1
var_a = dfECMWF_A['rainflux_mm_hour'].var(ddof=1)
var_b = dfTWC_A['precipitationRate'].var(ddof=1)

#std deviation
s = np.sqrt((var_a + var_b)/2)
s



## Calculate the t-statistics
t = (a.mean() - b.mean())/(s*np.sqrt(2/N))



## Compare with the critical t-value
#Degrees of freedom
df = 2*N - 2

#p-value after comparison with the t 
p = 1 - stats.t.cdf(t,df=df)


print("t = " + str(t))
print("p = " + str(2*p))
### You can see that after comparing the t statistic with the critical t value (computed internally) we get a good p value of 0.0005 and thus we reject the null hypothesis and thus it proves that the mean of the two distributions are different and statistically significant.


## Cross Checking with the internal scipy function
t2, p2 = stats.ttest_ind(a,b)
print("t = " + str(t2))
print("p = " + str(p2))

t = -6.818187102741877
p = 1.9999999999907303
t = -6.584010222461941
p = 4.602420345613025e-11

In [22]:
t

precipitationRate   NaN
rainflux_mm_hour    NaN
dtype: float64

In [34]:
dfECMWF_Awet = pd.read_csv('ECMWF_wetA.csv')

In [36]:
dfTWC_Awet = pd.read_csv('TWC_wetA.csv')

In [37]:
a = dfECMWF_Awet['rainflux_mm_hour']
b= dfTWC_Awet['precipitationRate']
#Sample Size
N = 44724
## Calculate the Standard Deviation
#Calculate the variance to get the standard deviation

#For unbiased max likelihood estimate we have to divide the var by N-1, and therefore the parameter ddof = 1
var_a = dfECMWF_A['rainflux_mm_hour'].var(ddof=1)
var_b = dfTWC_A['precipitationRate'].var(ddof=1)

#std deviation
s = np.sqrt((var_a + var_b)/2)
s



## Calculate the t-statistics
t = (a.mean() - b.mean())/(s*np.sqrt(2/N))



## Compare with the critical t-value
#Degrees of freedom
df = 2*N - 2

#p-value after comparison with the t 
p = 1 - stats.t.cdf(t,df=df)


print("t = " + str(t))
print("p = " + str(2*p))
### You can see that after comparing the t statistic with the critical t value (computed internally) we get a good p value of 0.0005 and thus we reject the null hypothesis and thus it proves that the mean of the two distributions are different and statistically significant.
## Cross Checking with the internal scipy function
t2, p2 = stats.ttest_ind(a,b)
print("t = " + str(t2))
print("p = " + str(p2))

t = -15.924721273607078
p = 2.0
t = -5.680281849896426
p = 1.3599550581834146e-08

In [49]:
from scipy import stats
rvs1 = dfTWC_Awet['precipitationRate']
rvs2 = dfECMWF_Awet['rainflux_mm_hour']
print(stats.ttest_ind(rvs1,rvs2))

Ttest_indResult(statistic=5.680281849896426, pvalue=1.3599550581834146e-08)

In [ ]:
''' we can say that the amount of percipitation in these five years is different'''

In [46]:
'''
We can use this test, if we observe two independent samples from the same or different population, e.g. exam scores of boys and girls or of two ethnic groups. The test measures whether the average (expected) value differs significantly across samples. If we observe a large p-value, for example larger than 0.05 or 0.1, then we cannot reject the null hypothesis of identical average scores. If the p-value is smaller than the threshold, e.g. 1%, 5% or 10%, then we reject the null hypothesis of equal averages.
'''

'\nWe can use this test, if we observe two independent samples from the same or different population, e.g. exam scores of boys and girls or of two ethnic groups. The test measures whether the average (expected) value differs significantly across samples. If we observe a large p-value, for example larger than 0.05 or 0.1, then we cannot reject the null hypothesis of identical average scores. If the p-value is smaller than the threshold, e.g. 1%, 5% or 10%, then we reject the null hypothesis of equal averages.\n'

In [48]:
rvs3 = stats.norm.rvs(loc=5, scale=20, size=500)
type(rvs3)

numpy.ndarray

In [50]:
dfTWC_A = pd.read_csv('TWC_Block_A.csv')
dfTWC_A['observationTimeUtcIso'] = pd.to_datetime(dfTWC_A['observationTimeUtcIso'])

FileNotFoundError: [Errno 2] No such file or directory: 'TWC_Block_A.csv'

In [ ]:
dfEA3 = dfTWC_A[dfTWC_A['observationTimeUtcIso'].dt.month == 3]
dfEA4 = dfTWC_A[dfTWC_A['observationTimeUtcIso'].dt.month == 4]
dfEA5 = dfTWC_A[dfTWC_A['observationTimeUtcIso'].dt.month == 5]
dfwet = pd.concat([dfEA3, dfEA4, dfEA5])
dfwet